{% extends "::base.html.twig" %}

{% block body %}
<h1>Plans</h1>
   <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Test</th>
                <th>Started at</th>
                <th>Ended at</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
        {% for plan in plans %}
            <tr>
                <td>{{ plan.id }}</td>
                <td>{{ plan.test.title }}</td>
                <td>{{ plan.start|date('Y-m-d H:i:s') }}</td>
                <td>{{ plan.end|date('Y-m-d H:i:s') }}</td>
                <td><a href="{{ path('student_write_test', { 'id' : plan.id }) }}">Write test</a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
<div class="pagination">
    {{ knp_pagination_render(plans) }}
</div>
{% endblock %}
