{% extends "::base.html.twig" %}

{% block body %}
    <h1>Запланированные тесты</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Название теста</th>
                <th>Название предмета</th>
                <th>ФИО преподавателя</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Дейсвтия</th>
            </tr>
        </thead>
        <tbody>
        {% for plan in plans %}
            <tr>
                <td>{{ plan.test.title }}</td>
                <td>{{ plan.test.subject.name }}</td>
                <td>{{ plan.test.teacher.lastName }}&nbsp;{{ plan.test.teacher.firsttName }}&nbsp;{{ plan.test.teacher.middleName|default('') }}</td>
                <td>{{ plan.start|date('Y-m-d H:i:s') }}</td>
                <td>{{ plan.end|date('Y-m-d H:i:s') }}</td>
                <td>
                    <ul>
                        <li><a href="{{ path('student_write_test', { 'id' : plan.id }) }}">Написать тест</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


<div class="pagination">
    {{ knp_pagination_render(plans) }}
</div>
{% endblock %}
