{% extends '::base.html.twig' %}

{% block body %}
    <table class="table-bordered">
        <tr>
            <th>Тест</th>
            <th>Дата</th>
            <th>Подробнее</th>
            <th>Общий результат</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result.test.title }}</td>
                <td>{{ result.plan.start|date('Y-m-d H:i') }}-{{ result.plan.end|date('Y-m-d H:i') }}</td>
                <td>
                    <table class="table table-hover">
                        <tr>
                            <th>Вопрос №</th><th>Результат</th>
                        </tr>
                        {% for idx, answer in result.resultQuestions %}
                            <tr>
                                <td>{{ idx }}</td>
                                <td>{{ (answer.result * 100)|number_format(2) }} %</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>{{ (result.rating * 100)|number_format(2) }} %</td>
            </tr>
        {% endfor %}
    </table>

<div class="pagination">
    {{ knp_pagination_render(results) }}
</div>
{% endblock %}
