{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Вопрос</h1>

    <dl class="dl-horizontal">
        <dt>Вопрос</dt>
        <dd>{{ entity.question|raw }}</dd>
        <dt>Тема</dt>
        <dd>{{ entity.theme.name }}</dd>
        <dt>Предмет</dt>
        <dd>{{ entity.theme.subject.name }}</dd>
    </dl>

        <ul class="record_actions">
    <li>
        <a href="{{ path('question') }}">
            Вернуться к списку
        </a>
    </li>
    <li>
        <a href="{{ path('question_edit', { 'id': entity.id }) }}">
            Редактировать
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
