<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Портал по тестированию{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@cssJquery' '@cssBootstrap' filter='cssrewrite' %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets '@cssMain' filter='cssrewrite' %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {{ tinymce_init() }}
    </head>
    <body>
        {% block menu %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse">
                    {{ knp_menu_render('BstuUserBundle:Builder:mainMenu') }}
                </div>
            </nav>
        {% endblock %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        {% endfor %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        {% if 'prod' == app.environment %}
            <script src="{{ asset('js/fos_js_routes.js') }}"></script>
        {% else %}
            <script src="{{ path('fos_js_routing_js', { "callback" : "fos.Router.setData" }) }}"></script>
        {% endif %}
        {% javascripts '@jsJquery' '@jsBootstrap' %}
          <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>
</html>
