<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@cssJquery' filter='cssrewrite' %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav>
            {{ knp_menu_render('BstuUserBundle:Builder:mainMenu') }}
        </nav>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        {% if 'prod' == app.environment %}
            <script src="{{ asset('js/fos_js_routes.js') }}"></script>
        {% else %}
            <script src="{{ path('fos_js_routing_js', { "callback" : "fos.Router.setData" }) }}"></script>
        {% endif %}
        {% javascripts '@jsJquery' %}
          <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>
</html>
