{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Список тестов</h1>

    <ul>
        <li>
            <a href="{{ path('test_new') }}">
                Добавить новый тест
            </a>
        </li>
    </ul>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Название</th>
                <th>Предмет</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.title }}</td>
                <td>{{ entity.subject.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('plan_new', { 'testId' : entity.id }) }}">Запланировать</a>
                    </li>
                    <li>
                        <a href="{{ path('test_show', { 'id': entity.id }) }}">Показать</a>
                    </li>
                    <li>
                        <a href="{{ path('test_edit', { 'id': entity.id }) }}">Редактировать</a>
                    </li>
                    {% if entity.isTestByVariants() %}
                    <li>
                        <a href="{{ path('variant', { 'id' : entity.id}) }}">Управлять вариантами</a>
                    </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="pagination">
    {{ knp_pagination_render(entities) }}
</div>

    {% endblock %}
