{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Тест</h1>

    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>{{ entity.title }}</dd>
        <dt>Предмет</dt>
        <dd>{{ entity.subject.name }}</dd>
        <dt>Темы</dt>
        <dd>
            {% if entity.themes|length %}
                <ul>
                    {% for theme in entity.themes %}
                        <li>{{ theme.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </dd>
    </dl>

        <ul class="record_actions">
    <li>
        <a href="{{ path('test') }}">
            Вернуться к списку
        </a>
    </li>
    <li>
        <a href="{{ path('plan_new', { 'testId' : entity.id }) }}">Запланировать</a>
    </li>
    <li>
        <a href="{{ path('test_edit', { 'id': entity.id }) }}">
            Редактировать
        </a>
    </li>
    {% if entity.isTestByVariants() %}
    <li>
        <a href="{{ path('variant', { 'id' : entity.id}) }}">Управлять вариантами</a>
    </li>
    {% endif %}
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
