{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block result_widget %}
    <table>
        <tr>
            <th>Question</th>
            <td>{{ question }}</td>
        </tr>
        {% if question_type in [constant('Bstu\\Bundle\\TestOrganizationBundle\\Entity\\Question::TYPE_RADIO'), constant('Bstu\\Bundle\\TestOrganizationBundle\\Entity\\Question::TYPE_CHECKBOX')] %}
        <tr>
            <th>Real answer</th>
            <td>
                <ul>
                {% set splitedRealAnswer = real_answer|split(',') %}
                {% for index, variant in variants %}
                    <li>
                        {% if index in splitedRealAnswer %}
                            <b>{{ variant }}</b>
                        {% else %}
                            {{ variant}}
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Student answer</th>
            <td>
                <ul>
                {% set splitedStudentAnswer = student_answer|split(',') %}
                {% for variant in splitedStudentAnswer %}
                    <li>{{ variants[variant] }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% elseif question_type in [constant('Bstu\\Bundle\\TestOrganizationBundle\\Entity\\Question::TYPE_TEXT'), constant('Bstu\\Bundle\\TestOrganizationBundle\\Entity\\Question::TYPE_TEXTAREA')] %}
        <tr>
            <th>Real answer</th>
            <td>{{ real_answer }}</td>
        </tr>
        <tr>
            <th>Student answer</th>
            <td>{{ student_answer }}</td>
        </tr>
        {% elseif question_type == constant('Bstu\\Bundle\\TestOrganizationBundle\\Entity\\Question::TYPE_LOGIC_SEQUENCE') %}
        <tr>
            <th>Real answer</th>
            <td>
                <ul>
                {% for variant in variants %}
                    <li>{{ variant }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Student answer</th>
            {% set studentDecode = student_answer|json_decode %}
            <td>
                <ul>
                    {% for answer in studentDecode %}
                        <li>{{ answer }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr> 
        {% elseif question_type == constant('Bstu\\Bundle\\TestOrganizationBundle\\Entity\\Question::TYPE_PAIRED') %}
        <tr>
            <th>Real answer</th>
            <td>
                <ul>
                {% for variant in variants %}
                    {% set item = variant|json_decode %}
                    {% for key, value in item %}
                        <li>{{ key }} - {{ value }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Student answer</th>
            <td>
                <ul>
                {% set studentDecode = student_answer|json_decode %}
                {% for idx, key in studentDecode.keys %}
                    <li>{{ key }} - {{ studentDecode.values[idx] }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        {% endif %}
    </table>
    {{ block('percent_widget') }}
{% endblock %}

{% block body %}
{{ form(form) }}
{% endblock %}