{% extends "::base.html.twig" %}

{% block body %}
    <a href="{{ path('teacher_result_unverified') }}">Unverified tests</a>
    <table border="1" cellspacing="0" cellpadding="0">
        <tr><th>Student</th><th>Test</th><th>Result</th><th>Details</th><th>Actions</th></tr>
    {% for result in results %}
        <tr>
            <td>{{ result.student.firstName }} {{ result.student.lastName }} {{ result.student.middleName|default('') }}</td>
            <td>{{ result.test.title }}</td>
            <td>{{ result.rating|number_format(2) }}</td>
            <td>
                <table border="1" cellspacing="0" cellpadding="0">
                    <tr><th>Question</th><th>Correct Answer</th><th>Student answer</th><th>Result</th></tr>
                    {% for resultQuestion in result.resultQuestions %}
                        <tr>
                            <td>{{ resultQuestion.question.question }}</td>
                            {% if resultQuestion.question.type in [constant('Bstu\\Bundle\\TestOrganizationBundle\\Entity\\Question::TYPE_RADIO'), constant('Bstu\\Bundle\\TestOrganizationBundle\\Entity\\Question::TYPE_CHECKBOX')] %}
                                <td>
                                    <ul>
                                    {% set splitedRealAnswer = resultQuestion.question.answer|split(',') %}
                                    {% for index, variant in resultQuestion.question.variants %}
                                        <li>
                                            {% if index in splitedRealAnswer %}
                                                <b>{{ variant }}</b>
                                            {% else %}
                                                {{ variant}}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                    {% set splitedStudentAnswer = resultQuestion.answer|split(',') %}
                                    {% for variant in splitedStudentAnswer %}
                                        <li>{{ resultQuestion.question.variants[variant] }}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            {% elseif resultQuestion.question.type in [constant('Bstu\\Bundle\\TestOrganizationBundle\\Entity\\Question::TYPE_TEXT'), constant('Bstu\\Bundle\\TestOrganizationBundle\\Entity\\Question::TYPE_TEXTAREA')] %}
                                <td>{{ resultQuestion.question.answer }}</td>
                                <td>{{ resultQuestion.answer }}</td>
                            {% elseif resultQuestion.question.type == constant('Bstu\\Bundle\\TestOrganizationBundle\\Entity\\Question::TYPE_LOGIC_SEQUENCE') %}
                                <td>
                                    <ul>
                                    {% for variant in resultQuestion.question.variants %}
                                        <li>{{ variant }}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                                {% set studentDecode = resultQuestion.answer|json_decode %}
                                <td>
                                    <ul>
                                        {% for answer in studentDecode %}
                                            <li>{{ answer }}</li>
                                        {% endfor %}
                                    </ul
                                </td>
                            {% endif %}
                            <td>{{ resultQuestion.result|number_format(2) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td><a href="{{ path('teacher_result_unverify_test', { 'id' : result.id }) }}">Re-verify</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
