{% extends '::base.html.twig' %}

{% block body %}

    <h1>Все тесты</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(tests, 'Название', 't.title') }}</th>
                <th>{{ knp_pagination_sortable(tests, 'Преподаватель', 'tt.lastName') }}</th>
                <th>{{ knp_pagination_sortable(tests, 'Предмет', 's.name') }}</th>
                <th>{{ knp_pagination_sortable(tests, 'Факультет', 'f.name') }}</th>
                <th>{{ knp_pagination_sortable(tests, 'Кафедра', 'p.name') }}</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td>{{ test.title }}</td>
                <td>{{ test.teacher.name }}</td>
                <td>{{ test.subject.name }}</td>
                <td>{{ test.teacher.pulpit.faculty.name }}</td>
                <td>{{ test.teacher.pulpit.name }}</td>
                <td><a href="{{ path('plan_new', { 'testId' : test.id }) }}">Запланировать</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="pagination">
    {{ knp_pagination_render(tests) }}
</div>

{% endblock %}
