{% trans_default_domain 'FOSUserBundle' %}

<h1>Профиль</h1>

<dl class="dl-horizontal">
    <dt>Логин</dt>
    <dd>{{ user.username }}</dd>
    <dt>ФИО</dt>
    <dd>{{ user.firstName }}&nbsp;{{ user.lastName }}&nbsp;{{ user.middleName|default('') }}</dd>
    <dt>Роль</dt>
    <dd>{% if user.group %}{{ user.group.name }}{% else %}Администратор{% endif %}</dd>
    <dt>Email</dt>
    <dd>{{ user.email }}</dd>
</dl>
