{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Список тем</h1>

    <ul>
        <li>
            <a href="{{ path('theme_new') }}">
                Добавить новую тему
            </a>
        </li>
    </ul>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(entities, 'Название', 't.name') }}</th>
                <th>{{ knp_pagination_sortable(entities, 'Предмет', 's.name') }}</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.subject.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('theme_show', { 'id': entity.id }) }}">Показать</a>
                        </li>
                        <li>
                            <a href="{{ path('theme_edit', { 'id': entity.id }) }}">Редактировать</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<div class="pagination">
    {{ knp_pagination_render(entities) }}
</div>

    {% endblock %}
