{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Тема</h1>

    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>{{ entity.name }}</dd>
        <dt>Предмет</dt>
        <dd>{{ entity.subject.name }}</dd>
    </dl>

        <ul class="record_actions">
    <li>
        <a href="{{ path('theme') }}">
            Вернуться к списку
        </a>
    </li>
    <li>
        <a href="{{ path('theme_edit', { 'id': entity.id }) }}">
            Редактировать
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
