{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Варианты для тестов "{{ test.title }}"</h1>

    <ul>
        <li>
            <a href="{{ path('variant_new', { 'id' : test.id }) }}">
               Добавить новый вариант
            </a>
        </li>
    </ul>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.number }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('variant_show', { 'id': entity.id }) }}">Показать</a>
                    </li>
                    <li>
                        <a href="{{ path('variant_edit', { 'id': entity.id }) }}">Редактировать</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
