{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Вариант</h1>

    <dl class="dl-horizontal">
        <dt>Тест</dt>
        <dd>{{ entity.test.title }}</dd>
        <dt>Номер</dt>
        <dd>{{ entity.number }}</dd>
        <dt>Предмет</dt>
        <dd>{{ entity.test.subject.name }}</dd>
        <dt>Вопросы</dt>
        <dd>
            {% if entity.questions|length %}
                <ul>
                    {% for question in entity.questions %}
                        <li>{{ question.question|raw }}
                    {% endfor %}
                </ul>
            {% endif %}
        </dd>
    </dl>

        <ul class="record_actions">
    <li>
        <a href="{{ path('variant', { 'id' : entity.test.id }) }}">
            Вернуться к списку
        </a>
    </li>
    <li>
        <a href="{{ path('variant_edit', { 'id': entity.id }) }}">
            Редактировать
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
