{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Факультет</h1>

    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>{{ entity.name }}</dd>
        <dt>Кафедры</dt>
        <dd>
            {% if entity.pulpits|length %}
                <ul>
                    {% for pulpit in entity.pulpits %}
                        <li><a href="{{ path('pulpit_show', { 'id' : pulpit.id }) }}">{{ pulpit.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </dd>
    </dl>

        <ul class="record_actions">
    <li>
        <a href="{{ path('faculty') }}">
            Назад к списку
        </a>
    </li>
    <li>
        <a href="{{ path('faculty_edit', { 'id': entity.id }) }}">
            Редактировать
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
