{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Кафедра</h1>

    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>{{ entity.name }}</dd>
        <dt>Факультет</dt>
        <dd>{{ entity.faculty.name }}</dd>
    </dl>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pulpit') }}">
            Назад к списку
        </a>
    </li>
    <li>
        <a href="{{ path('pulpit_edit', { 'id': entity.id }) }}">
            Редактировать
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
