{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Предмет</h1>

    <dl class="dl-horizontal">
        <dt>Название</dt>
        <dd>{{ entity.name }}</dd>
        <dt>Темы</dt>
        <dd>
            {% if entity.themes|length %}
                <ul>
                    {% for theme in entity.themes %}
                        <li>{{ theme.name }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </dd>
    </dl>

        <ul class="record_actions">
    <li>
        <a href="{{ path('subject') }}">
            Вернуться к списку
        </a>
    </li>
    <li>
        <a href="{{ path('subject_edit', { 'id': entity.id }) }}">
            Редактировать
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
